#fotos, .swiper-container {
    position: relative;
}

/* Estilizando os botões do carrossel */
.swiper-button-next, .swiper-button-prev {
    color: #fff; /* Cor do ícone da seta */
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente para destaque */
    border-radius: 50%; /* Forma circular */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s; /* Animação ao passar o mouse */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

/* Posicionamento dos botões */
.swiper-button-next {
    right: 15px; /* Ajuste a distância da borda direita da galeria */
}
.swiper-button-prev {
    left: 15px; /* Ajuste a distância da borda esquerda da galeria */
}

/* Efeito ao passar o mouse sobre os botões */
.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Altera a cor de fundo ao passar o mouse */
    color: #333; /* Cor do ícone ao passar o mouse */
    transform: scale(1.1); /* Aumenta ligeiramente o botão */
}

/* Estilizando o ícone de seta para centralizar */
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.2em; /* Tamanho do ícone */
}
