#home {
    position: relative;
    min-width: 30vh;
    min-height: 100vh; /* Define uma altura mínima para preencher a tela */
    margin: 0; /* Remove margens externas */
    padding: 0; /* Remove preenchimentos internos */
}


#home::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%; /* Certifique-se de que esteja definido como 100% */
    background-image: url('../images/1Foto2K.png');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
    opacity: 0.7; /* Define a opacidade da imagem de fundo */
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 1); /* Vinheta escura mais forte */
}



#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;

}

#cta .title {
    font-size: 4rem;
    color: #ffffff

}


#cta .description {
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size: 2rem;
    font-weight: 900;
}

#cta .description span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e9a209;
    font-size: 2.5rem;
}

/* Ajustes para o layout dos botões */
#cta_buttons {
    display: flex;
    gap: 8px;
    padding: 10px 14px;
    font-weight: 500;
    border-radius: 12px;
}

#cta_buttons a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 14px 8px;
    text-align: center;
}



#phone_button {
    display: flex;
    gap: 8px;
    padding: 14px 8px;
    font-weight: 500;
    border-radius: 12px;

}

/* .shape {
    background-color: #ffe8b4;
    width: 50%;
    height: 100%;
    position: absolute;

} */